  <form class="form-horizontal form-validation" name="$parent.formDevice">
  <div class="modal fade" id="modalDevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">FORM DEVICE</h4>
        </div>
        <div class="modal-body">
            
            <div ng-show="$parent.action=='update'||$parent.action=='insert'">
            <div class="form-group">
              <label class="col-sm-4 control-label" style="text-align:left;">Equipment Type</label>
              <div class="col-sm-8" ui-module="select2">
                <select ui-select2 class="form-control" ng-model="$parent.post.equipment_type">
                  <option value="Power Meter">Power Meter</option>
                  <option value="Sensor Temperature">Sensor Temperature</option>
                  <option value="Sensor Humidity Temperature">Sensor Humidity Temperature</option>
                  <option value="Input Output">Input Output</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" style="text-align:left;">Brand</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="$parent.post.brand" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" style="text-align:left;">Equipment Part Number</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="$parent.post.equipment_part_number" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" style="text-align:left;">Equipment MIB File</label>
                <div class="btn-group col-sm-8" role="group">
                  <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s" file-model = "mib" placeholder="NA">
                </div>
            </div>
            </div>
            </div>

            <div ng-show="$parent.action=='delete'">
                <h4>Are you sure to delete {{post.device}} ?</h4>
            </div>

        <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal" 
            ng-click="save()" ng-disabled="$parent.formDevice.$invalid">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  </form>
